<div class="row">
  <div class="col-xs-12">
    <div class="jumbotron">
      <p>
        <%= t('info') %>
      </p>
      <p>
        As an example you can check <%= link_to 'my profile', shvetsovdm_profile %>
      </p>
      <p>
        <%= link_to t('facebook_login'), '/auth/facebook', id: 'sign_in', class: 'btn btn-primary btn-lg' %>
      </p>
    </div>
  </div>
</div>
