<div class="row">
  <div class="col-lg-12">
    <h2>List of skills</h2>
    <ul>
      <li>
        Ideas generator
        <span class="label label-default">80</span>
        <%= link_to 'lvlup', lvlups_new_path, class: 'btn btn-default btn-xs' %>
      </li>
    </ul>
  </div>
</div>
<div class="row">
  <div class="col-lg-12">
    <%= link_to 'add skill', skills_new_path, class: 'btn btn-default btn-lg' %>
  </div>
</div>
