<div class="row">
  <div class="col-xs-4">
    profile here  
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <%= link_to 'add skill', skills_new_path, class: 'btn btn-default' %>
  </div>
</div>
