<div class="row">
  <div class="col-lg-6">
    <%= form_for @skill do |f| %>
      <div class="form-group">
        <%= f.label :title %>
        <%= f.text_field :title, class: 'form-control' %>
      </div>
      <%= f.submit 'Submit', class: 'btn btn-default' %>
    <% end %>
  </div>
</div>
