
<div class="row">
  <div class="col-md-6">
    <p>
      <%= t('disclaimer') %>
    </p>
    <p>
      <%= t('info') %>
    </p>
    <p>
      by <a href="http://shvetsovdm.github.io">Dmitry Shvetsov</a>, email: <a href="mailto:shvetsovdm@gmail.com">shvetsovdm@gmail.com</a>
    </p>
    <p>
      Source code available on <a href="https://github.com/shvetsovdm/lvlup_proto">github</a>.
    </p>
  </div>
</div>
