
<div class="row">
  <div class="col-md-6">
    <p>
      by <a href="http://shvetsovdm.github.io">Dmitry Shvetsov</a>
    </p>
    <p>
      you can email me <a href="mailto:shvetsovdm@gmail.com">shvetsovdm@gmail.com</a>
    </p>
    <p>
      This is simple demonstration of general idea of the lvlup web application. There is a lots of bad constructed methods and design decisions, no a web design (basic bootstrap theme) and a lots of TODOs.
    </p>
  </div>
</div>
