<div class="row">
  <div class="col-lg-6">
    <form action="/lvlups/create" method="post">
      <div class="form-group">
        <label>Description</label>
        <textarea class="form-control" rows="3" cols="50"></textarea> 
      </div>
      <input type="submit" class="btn btn-default">
    </form>
  </div>
</div>
